*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins',sans-serif;
  overflow-y: scroll;
}

.outer-container{
  width: 100%;
  min-height:100vh;
  padding-top:120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  width: 85%;
  margin-top:14px;
  letter-spacing: 0.03rem;
  line-height: 20px;
  text-align: center;
  color: #6f728e;
  font-size:0.937rem;
}

h1{
  font-size: 1.625rem;
  color: #29296e;
  transition:font-size 200ms ease-in;
}

span{
  text-decoration: line-through;
}

button{
  margin: 15px 0 45px;
  padding: 0.43rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;
  box-shadow: 0 0 10px #dcdcdc;
  cursor: pointer;
}

.container{
  width: 400px;
  min-height: 80px;
  display: flex;
  flex-direction:column;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 35px #dadada;
  padding: 20px 0 0;
  margin-bottom: 140px;
}

form,li{
  position: relative;
}

form>button,
li>button{
  border:none;
  box-shadow: none;
  position: absolute;
  top: -8px;
  right: 4.5px;
  background: #38a;
  padding:3px 6px;
}

li>button{
  top:-3px;
  background:#d11a2a;
}

i{
  color: #a4ff23;
  font-size: 1.075rem;
}

li button i{
  color:#f4f4f4;
}

ul,form{
  width:90%;
}

input,
li{
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px 25px;
  list-style:none;
  margin-bottom: 20px;
  word-break: break-all;
}

input[placeholder]{
  font-size: 0.875rem;
  opacity: 0.5;
  padding-right:40px;
  padding-left: 14px;
}

li {
  display: flex;
  align-items: center;
  padding:4px 25px;
}

li>input{
  width: 20px;
  height:20px;
  margin: 10px 13px 10px -15px;
  cursor: pointer;
}

footer{
  position: absolute;
  bottom:14px;
}

footer>p{
  width: 100%;
  font-size:0.875rem;
  opacity: 0.4;
}

.editButton{
  right: 35px;
  background: #e392a3;
}

.editButton i{
  color: #fff;
}

.menus{
  position: relative;
  width:100%;
  display: flex;
  justify-content:center;
}

.menus::before {
  content:'';
  position: absolute;
  height:1px;
  width: 100%;
  background: #abcdea;
  top:10px;
}

.menus > button{
  border: none;
  box-shadow: none;
  padding:5px;
  color: #aaa;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.menus > button:hover{
  color:#777;
  transform:scale(1.15);
  transition: transform 250ms ease-in-out;
}

.newInputs{
  margin-left: 0px;
  width: 78%;
  margin-top:5px;
  padding: 0;
  font-size: 1.25rem;
  outline:none;
  border:none;
  background: none;
  cursor: pointer;
}

.toggles{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px #00D1FF;
  background: #fff;
}


/* screen 615px */
@media screen and (min-width: 38.4em) {
  h1{
    font-size: 2rem;
  }

  .container{
    width: 500px;
    transition: width 800ms ease-in-out;
  }

  form>button,
  li>button{
    top:-7px;
  }

  li{
    font-size: 1rem;
    padding: 0 25px;
  }

  input[placeholder]{
    font-size: 1rem;
  }
}

/* screen 758px */
@media screen and (min-width:48em) {
  h1{
    font-size: 2.375rem;
    letter-spacing: 0.125rem;
    margin-bottom: 4px;
  }

  p{
    font-size: 0.875rem;
  }

  button{
    margin-top:20px;
  }

  form>button,
  li>button{
    top:-12px;
  }

  footer>p{
    font-size: 1rem;
  }
}
