*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins',sans-serif;
  overflow-y: scroll;
}

.outer-container{
  width: 100%;
  min-height:100vh;
  padding-top:80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  width: 85%;
  margin-top:14px;
  letter-spacing: 0.03rem;
  line-height: 20px;
  text-align: center;
  color: #6f728e;
  font-size:0.937rem;
}

h1{
  font-size: 1.625rem;
  color: #29296e;
  transition:font-size 200ms ease-in;
}

span{
  text-decoration: line-through;
}

button{
  margin: 15px 0 45px;
  padding: 0.43rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;
  box-shadow: 0 0 10px #dcdcdc;
  cursor: pointer;
}

.container{
  width: 400px;
  min-height: 80px;
  display: flex;
  flex-direction:column;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 35px #dadada;
  padding: 20px 0 0;
  margin-bottom: 140px;
}

form{
  position: relative;
}

form>button{
  background:none;
  border:none;
  box-shadow: none;
  position: absolute;
  top: -14px;
  right: 2px;
}

i{
  color: #1b3;
  font-size: 1.075rem;
}

ul,form{
  width:90%;
}

input,
li{
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px 25px;
  list-style:none;
  margin-bottom: 20px;
  word-break: break-all;
}

input{
  width: 100%;
  opacity: 0.5;
}

li {
  display: flex;
  align-items: center;
  font-size: 0.937rem;
  color: #888;
}

li>input{
  width: 20px;
  height:20px;
  background: red;
  margin: 10px 13px 10px -15px;
  cursor: pointer;
}

footer{
  position: absolute;
  bottom:14px;
}

footer>p{
  width: 100%;
  font-size:0.875rem;
  opacity: 0.4;
}


/* screen 615px */
@media screen and (min-width: 38.4em) {
  h1{
    font-size: 2rem;
  }

  .container{
    width: 500px;
    transition: width 800ms ease-in-out;
  }

  li{
    font-size: 1rem;
    padding: 0 25px;
  }

  input[placeholder]{
    font-size: 1rem;
  }
}

/* screen 758px */
@media screen and (min-width:48em) {
  h1{
    font-size: 2.375rem;
    letter-spacing: 0.125rem;
    margin-bottom: 4px;
  }

  p{
    font-size: 0.875rem;
  }

  button{
    margin-top:20px;
  }

  footer>p{
    font-size: 1rem;
  }
}
